
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="confirmation-card">
        <div class="confirmation-green">
          <div>
            <h1 class="text-center">
              <br>
              <i class="fa fa-check" style="font-size: 100px; font-weight: lighter" ></i>
              <br>
              Booking confirmed
            </h1>
            <h4>Congratulations! Your booking has been confirmed! </h4>
          </div>
        </div>
        <div class="confirmation-bottom">
          <h2 class="text-center">Details:</h2>

          <h4>Date: <%= @booking.start_date %> to <%= @booking.end_date %> </h4>
          <h4>Bike: <%= "#{@booking.bike.gender} #{@booking.bike.category}" %> bike </h4>
          <p>Go to:
            <%= link_to "My bookings", my_bookings_path %> |
            <%= link_to "Browse other bikes", bikes_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


